/links.csv
/untitled3.py
/untitled9.py
/web_scrape.py
/oxylabs_web_scrape.py
/g4g_web_scrape.py
/downloaded_images
/data_videos
/captured_images
/eggs_dataset
/eggs_val_dataset
/Users
/Jupyter-lab - Shortcut.lnk
/Egg Scrambler Code/untitled9.py
/Egg Scrambler Code/untitled7.py
/Egg Scrambler Code/untitled3.py
